root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.rb]
indent_style = tab
indent_size = 3

[Rakefile]
indent_style = tab
indent_size = 3

[*.md]
indent_style = space
indent_size = 2
